<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login | LearnLens AI</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="auth-page">

    <div class="auth-card">
        <a href="/" class="auth-logo">LearnLens AI</a>

        <h1>Welcome back</h1>
        <p>Login to continue your learning journey.</p>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert">{{ messages[0] }}</div>
            {% endif %}
        {% endwith %}

        <form method="POST">
            <label>Email Address</label>
            <input type="email" name="email" required>

            <label>Password</label>
            <input type="password" name="password" required>

            <button type="submit">Login</button>
        </form>

        <p class="auth-link">
            Don’t have an account?
            <a href="{{ url_for('register') }}">Register here</a>
        </p>
    </div>

</body>
</html>